In [3]:
# PANDAS - panel data analysis
import pandas as pd

series = pd.Series([1,2,3,4,5])
print(series)

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [8]:
# specifying the index
series2 = pd.Series([1,2,3,4,5], index=['a','b','c','d','a'])
print(series2)
print(series2[4])
print(series2['a'])

a    1
b    2
c    3
d    4
a    5
dtype: int64
5
a    1
a    5
dtype: int64

In [11]:
# series slicing
print(series2[2:4])

c    3
d    4
dtype: int64

In [14]:
# timeseries

dates1 = pd.date_range('20220729', periods=13)
print(dates1)

DatetimeIndex(['2022-07-29', '2022-07-30', '2022-07-31', '2022-08-01',
               '2022-08-02', '2022-08-03', '2022-08-04', '2022-08-05',
               '2022-08-06', '2022-08-07', '2022-08-08', '2022-08-09',
               '2022-08-10'],
              dtype='datetime64[ns]', freq='D')

In [16]:
series = pd.Series([1,2,3,4,5,6,7,8,9,10,11,12,13])
series.index = dates1
print(series)

2022-07-29     1
2022-07-30     2
2022-07-31     3
2022-08-01     4
2022-08-02     5
2022-08-03     6
2022-08-04     7
2022-08-05     8
2022-08-06     9
2022-08-07    10
2022-08-08    11
2022-08-09    12
2022-08-10    13
Freq: D, dtype: int64

In [18]:
dates2 = pd.date_range('2019-05-02', periods=12, freq='MS')
print(dates2)

DatetimeIndex(['2019-06-01', '2019-07-01', '2019-08-01', '2019-09-01',
               '2019-10-01', '2019-11-01', '2019-12-01', '2020-01-01',
               '2020-02-01', '2020-03-01', '2020-04-01', '2020-05-01'],
              dtype='datetime64[ns]', freq='MS')

In [19]:
dates3 = pd.date_range('2019/05/17 09:00:00', periods=8, freq='H')
print(dates3)

DatetimeIndex(['2019-05-17 09:00:00', '2019-05-17 10:00:00',
               '2019-05-17 11:00:00', '2019-05-17 12:00:00',
               '2019-05-17 13:00:00', '2019-05-17 14:00:00',
               '2019-05-17 15:00:00', '2019-05-17 16:00:00'],
              dtype='datetime64[ns]', freq='H')

In [20]:
# dataframes
# Series and DataFrame are case-sensitive

import pandas as pd
import numpy as np

df = pd.DataFrame(np.random.randn(10,4), columns=list('ABCD'))
print(df)

          A         B         C         D
0  0.250548  0.587084  0.540006 -1.330175
1  0.274935 -1.380857 -1.936025  2.378606
2  0.395628 -0.005961 -0.882882  2.101459
3  0.921322  0.679493 -0.937758  1.030550
4 -0.385175  1.326785 -0.284769 -0.298832
5 -0.785288 -1.108443  0.154952 -0.849534
6  0.574385  1.687469  0.389968 -0.303785
7 -0.576498  2.823588  1.701984 -1.732787
8 -0.029710  0.095070 -1.455744  1.629916
9 -0.504900  0.539112  0.201643 -1.845998

In [27]:
# loading content from a csv file

# dfreadex = pd.read_csv('data.csv')

days = pd.date_range('20190525', periods=10)
df.index = days
print(df)

# print(df.index)
# print(df.values)

                   A         B         C         D
2019-05-25  0.250548  0.587084  0.540006 -1.330175
2019-05-26  0.274935 -1.380857 -1.936025  2.378606
2019-05-27  0.395628 -0.005961 -0.882882  2.101459
2019-05-28  0.921322  0.679493 -0.937758  1.030550
2019-05-29 -0.385175  1.326785 -0.284769 -0.298832
2019-05-30 -0.785288 -1.108443  0.154952 -0.849534
2019-05-31  0.574385  1.687469  0.389968 -0.303785
2019-06-01 -0.576498  2.823588  1.701984 -1.732787
2019-06-02 -0.029710  0.095070 -1.455744  1.629916
2019-06-03 -0.504900  0.539112  0.201643 -1.845998

In [28]:
print(df.describe())

               A          B          C          D
count  10.000000  10.000000  10.000000  10.000000
mean    0.013525   0.524334  -0.250862   0.077942
std     0.560258   1.250458   1.074095   1.592159
min    -0.785288  -1.380857  -1.936025  -1.845998
25%    -0.474968   0.019297  -0.924039  -1.210015
50%     0.110419   0.563098  -0.064908  -0.301308
75%     0.365455   1.164962   0.342887   1.480075
max     0.921322   2.823588   1.701984   2.378606

In [29]:
# mean for each column = 0
print(df.mean(0))

# mean for each row = 1
print(df.mean(1))

A    0.013525
B    0.524334
C   -0.250862
D    0.077942
dtype: float64
2019-05-25    0.011866
2019-05-26   -0.165835
2019-05-27    0.402061
2019-05-28    0.423402
2019-05-29    0.089502
2019-05-30   -0.647078
2019-05-31    0.587009
2019-06-01    0.554072
2019-06-02    0.059883
2019-06-03   -0.402536
Freq: D, dtype: float64

In [31]:
print(df.head())
print(df.head(3))

print(df.tail())
print(df.tail(8))

                   A         B         C         D
2019-05-25  0.250548  0.587084  0.540006 -1.330175
2019-05-26  0.274935 -1.380857 -1.936025  2.378606
2019-05-27  0.395628 -0.005961 -0.882882  2.101459
2019-05-28  0.921322  0.679493 -0.937758  1.030550
2019-05-29 -0.385175  1.326785 -0.284769 -0.298832
                   A         B         C         D
2019-05-25  0.250548  0.587084  0.540006 -1.330175
2019-05-26  0.274935 -1.380857 -1.936025  2.378606
2019-05-27  0.395628 -0.005961 -0.882882  2.101459
                   A         B         C         D
2019-05-30 -0.785288 -1.108443  0.154952 -0.849534
2019-05-31  0.574385  1.687469  0.389968 -0.303785
2019-06-01 -0.576498  2.823588  1.701984 -1.732787
2019-06-02 -0.029710  0.095070 -1.455744  1.629916
2019-06-03 -0.504900  0.539112  0.201643 -1.845998
                   A         B         C         D
2019-05-27  0.395628 -0.005961 -0.882882  2.101459
2019-05-28  0.921322  0.679493 -0.937758  1.030550
2019-05-29 -0.385175  1.326785 -0.284769 -0.298832
2019-05-30 -0.785288 -1.108443  0.154952 -0.849534
2019-05-31  0.574385  1.687469  0.389968 -0.303785
2019-06-01 -0.576498  2.823588  1.701984 -1.732787
2019-06-02 -0.029710  0.095070 -1.455744  1.629916
2019-06-03 -0.504900  0.539112  0.201643 -1.845998

In [33]:
# can grab a singular row for series or multiple for a dataframe
print(df[['B','C']])

                   B         C
2019-05-25  0.587084  0.540006
2019-05-26 -1.380857 -1.936025
2019-05-27 -0.005961 -0.882882
2019-05-28  0.679493 -0.937758
2019-05-29  1.326785 -0.284769
2019-05-30 -1.108443  0.154952
2019-05-31  1.687469  0.389968
2019-06-01  2.823588  1.701984
2019-06-02  0.095070 -1.455744
2019-06-03  0.539112  0.201643

In [34]:
# slicing, can use df.iloc as well
print(df[2:4])

                   A         B         C         D
2019-05-27  0.395628 -0.005961 -0.882882  2.101459
2019-05-28  0.921322  0.679493 -0.937758  1.030550

In [35]:
# df.iloc[[2,4]] only grabs row 2 and 4, not a range

In [36]:
# slicing rows with columns ([row], [col]) non-inclusive for ending selector
print(df.iloc[2:4, 1:4])

# slicing specific using a list
print(df.iloc[[2,4], [1,3]])

                   B         C         D
2019-05-27 -0.005961 -0.882882  2.101459
2019-05-28  0.679493 -0.937758  1.030550
                   B         D
2019-05-27 -0.005961  2.101459
2019-05-29  1.326785 -0.298832

In [39]:
# slicing with labels INclusive for ending selector
print(df['20190601':'20190603'])
print(df.loc['20190526':'20190529', 'C':'D'])
print(df.loc['20190526':'20190529', ['A','D']])

                   A         B         C         D
2019-06-01 -0.576498  2.823588  1.701984 -1.732787
2019-06-02 -0.029710  0.095070 -1.455744  1.629916
2019-06-03 -0.504900  0.539112  0.201643 -1.845998
                   C         D
2019-05-26 -1.936025  2.378606
2019-05-27 -0.882882  2.101459
2019-05-28 -0.937758  1.030550
2019-05-29 -0.284769 -0.298832
                   A         D
2019-05-26  0.274935  2.378606
2019-05-27  0.395628  2.101459
2019-05-28  0.921322  1.030550
2019-05-29 -0.385175 -0.298832

In [40]:
# slicing a specific row
print(df.loc['20190601'])

A   -0.576498
B    2.823588
C    1.701984
D   -1.732787
Name: 2019-06-01 00:00:00, dtype: float64

In [41]:
# cannot pick specific rows, needs to be converted
from datetime import datetime

date1 = datetime(2019, 6, 3, 0, 0, 0)
date2 = datetime(2019, 6, 1, 0, 0, 0)

print(df.loc[[date1, date2]])

                   A         B         C         D
2019-06-03 -0.504900  0.539112  0.201643 -1.845998
2019-06-01 -0.576498  2.823588  1.701984 -1.732787

In [42]:
# the following is considered to output a series
print(df.loc[date1, ['A','C']])

A   -0.504900
C    0.201643
Name: 2019-06-03 00:00:00, dtype: float64

In [43]:
# selecting a specific cell, date still needs conversion
from datetime import datetime

d = datetime(2019, 6, 3, 0, 0, 0)
print(df.at[d,'B'])

0.5391115771581356

In [44]:
# selecting by value using booleans
print(df[(df.A > 0) & (df.B > 0)])

                   A         B         C         D
2019-05-25  0.250548  0.587084  0.540006 -1.330175
2019-05-28  0.921322  0.679493 -0.937758  1.030550
2019-05-31  0.574385  1.687469  0.389968 -0.303785

In [45]:
# transforming dataframes
print(df.transpose())
print(df.T)

   2019-05-25  2019-05-26  2019-05-27  2019-05-28  2019-05-29  2019-05-30  \
A    0.250548    0.274935    0.395628    0.921322   -0.385175   -0.785288
B    0.587084   -1.380857   -0.005961    0.679493    1.326785   -1.108443
C    0.540006   -1.936025   -0.882882   -0.937758   -0.284769    0.154952
D   -1.330175    2.378606    2.101459    1.030550   -0.298832   -0.849534

   2019-05-31  2019-06-01  2019-06-02  2019-06-03
A    0.574385   -0.576498   -0.029710   -0.504900
B    1.687469    2.823588    0.095070    0.539112
C    0.389968    1.701984   -1.455744    0.201643
D   -0.303785   -1.732787    1.629916   -1.845998
   2019-05-25  2019-05-26  2019-05-27  2019-05-28  2019-05-29  2019-05-30  \
A    0.250548    0.274935    0.395628    0.921322   -0.385175   -0.785288
B    0.587084   -1.380857   -0.005961    0.679493    1.326785   -1.108443
C    0.540006   -1.936025   -0.882882   -0.937758   -0.284769    0.154952
D   -1.330175    2.378606    2.101459    1.030550   -0.298832   -0.849534

   2019-05-31  2019-06-01  2019-06-02  2019-06-03
A    0.574385   -0.576498   -0.029710   -0.504900
B    1.687469    2.823588    0.095070    0.539112
C    0.389968    1.701984   -1.455744    0.201643
D   -0.303785   -1.732787    1.629916   -1.845998

In [46]:
# check is series or dataframe
def checkSeriesOrDataframe(var):
    if isinstance(var, pd.DataFrame):
        return 'DataFrame'
    if isinstance(var, pd.Series):
        return 'Series'
print(checkSeriesOrDataframe(df))

DataFrame

In [49]:
# sorting data in a DataFrame, 0 meaning sort by index, 1 meaning sort by column
# does not effect original DataFrame, use `inplace=True`
print(df.sort_index(axis=0, ascending=False))
print(df.sort_index(axis=1, ascending=False))

                   A         B         C         D
2019-06-03 -0.504900  0.539112  0.201643 -1.845998
2019-06-02 -0.029710  0.095070 -1.455744  1.629916
2019-06-01 -0.576498  2.823588  1.701984 -1.732787
2019-05-31  0.574385  1.687469  0.389968 -0.303785
2019-05-30 -0.785288 -1.108443  0.154952 -0.849534
2019-05-29 -0.385175  1.326785 -0.284769 -0.298832
2019-05-28  0.921322  0.679493 -0.937758  1.030550
2019-05-27  0.395628 -0.005961 -0.882882  2.101459
2019-05-26  0.274935 -1.380857 -1.936025  2.378606
2019-05-25  0.250548  0.587084  0.540006 -1.330175
                   D         C         B         A
2019-05-25 -1.330175  0.540006  0.587084  0.250548
2019-05-26  2.378606 -1.936025 -1.380857  0.274935
2019-05-27  2.101459 -0.882882 -0.005961  0.395628
2019-05-28  1.030550 -0.937758  0.679493  0.921322
2019-05-29 -0.298832 -0.284769  1.326785 -0.385175
2019-05-30 -0.849534  0.154952 -1.108443 -0.785288
2019-05-31 -0.303785  0.389968  1.687469  0.574385
2019-06-01 -1.732787  1.701984  2.823588 -0.576498
2019-06-02  1.629916 -1.455744  0.095070 -0.029710
2019-06-03 -1.845998  0.201643  0.539112 -0.504900

In [52]:
# sorting by value, sort by index axis=1
print(df.sort_values('B', axis=0))
print(df.sort_values('20190528', axis=1))

                   A         B         C         D
2019-05-26  0.274935 -1.380857 -1.936025  2.378606
2019-05-30 -0.785288 -1.108443  0.154952 -0.849534
2019-05-27  0.395628 -0.005961 -0.882882  2.101459
2019-06-02 -0.029710  0.095070 -1.455744  1.629916
2019-06-03 -0.504900  0.539112  0.201643 -1.845998
2019-05-25  0.250548  0.587084  0.540006 -1.330175
2019-05-28  0.921322  0.679493 -0.937758  1.030550
2019-05-29 -0.385175  1.326785 -0.284769 -0.298832
2019-05-31  0.574385  1.687469  0.389968 -0.303785
2019-06-01 -0.576498  2.823588  1.701984 -1.732787
                   C         B         A         D
2019-05-25  0.540006  0.587084  0.250548 -1.330175
2019-05-26 -1.936025 -1.380857  0.274935  2.378606
2019-05-27 -0.882882 -0.005961  0.395628  2.101459
2019-05-28 -0.937758  0.679493  0.921322  1.030550
2019-05-29 -0.284769  1.326785 -0.385175 -0.298832
2019-05-30  0.154952 -1.108443 -0.785288 -0.849534
2019-05-31  0.389968  1.687469  0.574385 -0.303785
2019-06-01  1.701984  2.823588 -0.576498 -1.732787
2019-06-02 -1.455744  0.095070 -0.029710  1.629916
2019-06-03  0.201643  0.539112 -0.504900 -1.845998

In [53]:
# applying functions
# lambda is a small anonymous function that can take any number of arguments but returns one expression
# objects pass to apply() are 'series objects', index is either index (axis=0) or column (axis=1)
import math
sq_root = lambda x: math.sqrt(x) if x > 0 else x
sq = lambda x: x**2

print(df.B.apply(sq_root))

2019-05-25    0.766214
2019-05-26   -1.380857
2019-05-27   -0.005961
2019-05-28    0.824314
2019-05-29    1.151862
2019-05-30   -1.108443
2019-05-31    1.299026
2019-06-01    1.680354
2019-06-02    0.308335
2019-06-03    0.734242
Freq: D, Name: B, dtype: float64

In [55]:
# print(df.apply(sq_root)) returns an error
print(df.B.apply(sq))
print(df.apply(sq))

2019-05-25    0.344668
2019-05-26    1.906765
2019-05-27    0.000036
2019-05-28    0.461711
2019-05-29    1.760358
2019-05-30    1.228646
2019-05-31    2.847552
2019-06-01    7.972649
2019-06-02    0.009038
2019-06-03    0.290641
Freq: D, Name: B, dtype: float64
                   A         B         C         D
2019-05-25  0.062774  0.344668  0.291607  1.769365
2019-05-26  0.075589  1.906765  3.748191  5.657764
2019-05-27  0.156522  0.000036  0.779480  4.416131
2019-05-28  0.848834  0.461711  0.879391  1.062034
2019-05-29  0.148360  1.760358  0.081093  0.089300
2019-05-30  0.616677  1.228646  0.024010  0.721708
2019-05-31  0.329918  2.847552  0.152075  0.092285
2019-06-01  0.332350  7.972649  2.896750  3.002552
2019-06-02  0.000883  0.009038  2.119191  2.656627
2019-06-03  0.254924  0.290641  0.040660  3.407710

In [57]:
# mutates original set?
for column in df:
    df[column] = df[column].apply(sq_root)
print(df)

                   A         B         C         D
2019-05-25  0.500548  0.766214  0.734851 -1.330175
2019-05-26  0.524342 -1.380857 -1.936025  1.542273
2019-05-27  0.628990 -0.005961 -0.882882  1.449641
2019-05-28  0.959855  0.824314 -0.937758  1.015160
2019-05-29 -0.385175  1.151862 -0.284769 -0.298832
2019-05-30 -0.785288 -1.108443  0.393640 -0.849534
2019-05-31  0.757882  1.299026  0.624474 -0.303785
2019-06-01 -0.576498  1.680354  1.304601 -1.732787
2019-06-02 -0.029710  0.308335 -1.455744  1.276682
2019-06-03 -0.504900  0.734242  0.449047 -1.845998

In [59]:
# sum examples
print(df.apply(np.sum, axis=0)) # across columns
print(df.apply(np.sum, axis=1)) # across rows

A    1.090047
B    4.269085
C   -1.990564
D   -1.077355
dtype: float64
2019-05-25    0.671439
2019-05-26   -1.250266
2019-05-27    1.189788
2019-05-28    1.861570
2019-05-29    0.183086
2019-05-30   -2.349625
2019-05-31    2.377597
2019-06-01    0.675670
2019-06-02    0.099562
2019-06-03   -1.167609
Freq: D, dtype: float64

In [61]:
# adding and removing rows and columns in DataFrames
import pandas as pd

data = {
    'name': ['Janet','Nad','Timothy','June','Amy'],
    'year': [2012,2012,2013,2014,2014],
    'reports': [6,13,14,1,7]
}
df = pd.DataFrame(data, index=[
    'Singapore', 'China', 'Japan', 'Sweden', 'Norway'
])
print(df)

              name  year  reports
Singapore    Janet  2012        6
China          Nad  2012       13
Japan      Timothy  2013       14
Sweden        June  2014        1
Norway         Amy  2014        7

In [62]:
# add column
import numpy as np

schools = np.array([
    'Cambridge','Oxford','Oxford','Cambridge','Oxford'
])
df['school'] = schools
print(df)

              name  year  reports     school
Singapore    Janet  2012        6  Cambridge
China          Nad  2012       13     Oxford
Japan      Timothy  2013       14     Oxford
Sweden        June  2014        1  Cambridge
Norway         Amy  2014        7     Oxford

In [63]:
# removing row, does not affect original array, use inplace

print(df.drop(['China', 'Japan']))

            name  year  reports     school
Singapore  Janet  2012        6  Cambridge
Sweden      June  2014        1  Cambridge
Norway       Amy  2014        7     Oxford

In [64]:
# drop row that include 'Nad'
print(df[df.name != 'Nad'])

              name  year  reports     school
Singapore    Janet  2012        6  Cambridge
Japan      Timothy  2013       14     Oxford
Sweden        June  2014        1  Cambridge
Norway         Amy  2014        7     Oxford

In [65]:
print(df.drop(df.index[1]))
# or index['China']
# or multiple using .index[2,3]
# or from end of row using .index[-2]

              name  year  reports     school
Singapore    Janet  2012        6  Cambridge
Japan      Timothy  2013       14     Oxford
Sweden        June  2014        1  Cambridge
Norway         Amy  2014        7     Oxford

In [68]:
# removing columns
print(df.drop('reports', axis=1))

              name  year     school
Singapore    Janet  2012  Cambridge
China          Nad  2012     Oxford
Japan      Timothy  2013     Oxford
Sweden        June  2014  Cambridge
Norway         Amy  2014     Oxford

In [71]:
# drop column by number
print(df.drop(df.columns[2], axis=1))
print(df.drop(df.columns[[0,3]], axis=1))

              name  year     school
Singapore    Janet  2012  Cambridge
China          Nad  2012     Oxford
Japan      Timothy  2013     Oxford
Sweden        June  2014  Cambridge
Norway         Amy  2014     Oxford
           year  reports
Singapore  2012        6
China      2012       13
Japan      2013       14
Sweden     2014        1
Norway     2014        7

In [72]:
# generating crosstabs
# in statistics this is used to display distribution of 2+ variables

df = pd.DataFrame({
    'Gender': ['Male','Male','Female','Female','Female'],
    'Team': [1,2,3,3,1]
})
print(df)

   Gender  Team
0    Male     1
1    Male     2
2  Female     3
3  Female     3
4  Female     1

In [73]:
print(pd.crosstab(df.Gender, df.Team))

Team    1  2  3
Gender
Female  1  0  2
Male    1  1  0

In [74]:
print(pd.crosstab(df.Team, df.Gender))

Gender  Female  Male
Team
1            1     1
2            0     1
3            2     0